# Copy this file to .env and fill with your own values.

ENDFIELD_CRED='REMOVED_ENDFIELD_SECRET'
ENDFIELD_SK_GAME_ROLE='REMOVED_ENDFIELD_SECRET'
ENDFIELD_PLATFORM='3'
ENDFIELD_VNAME='1.0.0'
ENDFIELD_ACCOUNT_NAME='REMOVED_ENDFIELD_SECRET'
ENABLE_DISCORD_NOTIFY=true
DISCORD_WEBHOOK_URL='REMOVED_ENDFIELD_SECRET'
DISCORD_USER_ID='REMOVED_DISCORD_ID'