# Copy this file to .env and fill with your own values.

ENDFIELD_CRED='change-me'
ENDFIELD_SK_GAME_ROLE='3_0000000000_3'
ENDFIELD_PLATFORM='3'
ENDFIELD_VNAME='1.0.0'
ENDFIELD_ACCOUNT_NAME='example-account'
ENABLE_DISCORD_NOTIFY=false
DISCORD_WEBHOOK_URL=''
DISCORD_USER_ID=''
