[defaults]

inventory = ./inventory.ini
roles_path = ./roles
timeout = 60
host_key_checking = False

deprecation_warnings = False

private_key_file = ./private_key

[privilege_escalation]
become_timeout = 60
