# Copy this file to .env and fill with your own values.
ENDFIELD_CRED=replace_with_cred
ENDFIELD_SK_GAME_ROLE=3_xxxxx_x
ENDFIELD_PLATFORM=3
ENDFIELD_VNAME=1.0.0
ENDFIELD_ACCOUNT_NAME=MainAccount
ENABLE_DISCORD_NOTIFY=true
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
DISCORD_USER_ID=1234567890
